.text-font {
    font-family: 'Inter', sans-serif;
}
.text-font2 {
    font-family: 'Quicksand', sans-serif;
}
.text-font3 {
    font-family: 'IBM Plex Sans', sans-serif;
}
.daire {
    background-color: rgb(0, 0, 0);
    height: 40px;
    -moz-border-radius:40px;
    -webkit-border-radius: 40px;
    width: 40px;
   }

 